:root {
  --primary-color: #205081;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: crimson;
}

.wrapper {
  display: grid;
  grid-gap: 1.25em;
  grid-template-areas: "sidebar content";
}

p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.content {
  grid-area: content;
  margin-left: 18.75rem;
  max-width: 65%;
  padding: 1.5rem 1rem;
}

.main-section {
  margin: 1rem 0;
  padding: 0 0.625rem;
}

.sidebar a {
  color: #000;
  font-size: 1.2rem;
  display: block;
}
.sidebar h1 {
  margin: 1rem 0;
}

#navbar {
  border-right: 3px solid #efefef;
  grid-area: sidebar;
  padding: 0 1rem;
  max-width: 18.75em;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 1;
  background: #fff;
}

.html-intro {
  margin: 0 2rem;
}

.snapshot {
  background: #eee;
  padding: 1rem 1rem;
  color: #000;
  font-weight: 500;
  border-left: 5px solid crimson;
  border-radius: 5px;
}

.html-intro li {
  line-height: 1.7;
}

.nav-items {
  list-style: none;
  width: 100%;
}
.nav-items li {
  border-bottom: 1px solid #efefef;
  margin: 0 0 0.625rem;
  padding: 0 0 0.625rem;
}

.nav-items li > a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.25px;
  transition: 400ms ease-in;
}

.nav-items li > a:hover {
  color: crimson;
}

header h3 {
  margin: 1rem 0;
}

code {
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}
.snapcode {
  background: #fff;
}
.tagcolor {
  color: #0000cd;
}

.doc {
  color: #a52a2a;
}

.html {
  color: #ff0000;
}

.slash {
  color: #a52a2a;
}
.big_h1,
.big_h2,
.big_h3,
.big_h4,
.big_h5,
.big_h6 {
  font-weight: bold;
}
.big_h1 {
  font-size: 2rem;
}

.big_h2 {
  font-size: 1.75rem;
}

.big_h3 {
  font-size: 1.5rem;
}

.big_h4 {
  font-size: 1.25rem;
}

.big_h5 {
  font-size: 1.125rem;
}

.big_h6 {
  font-size: 1rem;
}

.text-changer {
  color: crimson;
}

.color-grop {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.color-grop div {
  padding: 1rem 0.625rem;
}

.orange {
  background: orange;
}

.violet {
  background: violet;
}

.tomato {
  background: tomato;
}

.dodgerblue {
  background: dodgerblue;
}

.html-img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 850px) {
  .color-grop {
    grid-template-columns: repeat(2, 1fr);
  }

  #navbar {
    border-right: 3px solid #efefef;
  }
}

@media screen and (min-width: 768px) {
  .content {
    overflow: hidden;
  }

  .nav-items li > a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .color-grop {
    grid-template-columns: 1fr;
  }
}
